﻿<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-primary" *ngIf="currentUser">
  <div class="navbar-nav">
    <a class="navbar-brand active nav-link" routerLink="/">Home</a>
    <a
      class="nav-item nav-link"
      routerLink="/migrants"
      routerLinkActive="active"
      >Registrar Migrantes</a
    >
    <a class="nav-item nav-link" routerLink="/">Consultar Migrantes</a>
    <a class="nav-item nav-link" my-2 my-lg-0 (click)="logout()">Logout</a>
  </div>
</nav>

<!-- main app container -->
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        <alert></alert>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
