﻿<h1>Hola {{ currentUser.firstName }}!</h1>
<p>Bienvenidos a Idas y Vueltas!</p>
<h3>Total de Migrantes Registrados:</h3>
<ul>
  <li *ngFor="let user of users">
    {{ user.username }} ({{ user.firstName }} {{ user.lastName }}) -
    <a (click)="deleteUser(user.id)" class="text-danger">Delete</a>
  </li>
</ul>
